.button {
  display: flex;
  overflow: hidden;
  z-index: 1;
  min-height: 42px;
  font-family: var(--font);
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  font-size: 16px;
  line-height: 1;
  color: var(--white);
  padding: 10px 30px;
  z-index: 1;
  transition: background 0.3s, transform 0.2s;
  user-select: none;
  outline: none;
  cursor: pointer;
  border-radius: 40px;
  background: linear-gradient(180deg, #ff2933, #7b1015);
  transform: translate(0px, 0px);

  span {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url('../img/noize.png') repeat;
    opacity: 0.8;
  }

  &.button--violet {
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    min-height: 40px;
    background: var(--violet);
    &:before {
      content: none;
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background: var(--color);
      }
    }
  }

  &.full {
    width: 100%;
  }

  &:active {
    transform: translate(0px, 2px);
  }
}
