@font-face {
  font-family: 'congenial';
  src: url('../fonts/congenial-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'congenial';
  src: url('../fonts/congenial-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'heavy';
  src: url('../fonts/heavy.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
