.footer {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  position: relative;
  z-index: 2;
  padding: myclamp(90px, 140px, 1440px, 1440px) 0px 40px 0px;
  overflow: hidden;
  background: url('../img/footer.webp') no-repeat center top;
  background-size: 100% 140%;
  flex-shrink: 0;
  color: var(--color);

  .container {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    gap: 30px;
  }
}

.footer__contacts {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  min-width: 234px;
  .button {
    min-width: 188px;
  }

  .mondelez {
    width: 164px;
    margin-bottom: 10px;
  }

  .tel {
    color: var(--color);
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
  }

  p {
    font-size: 12px;
  }
}

.footer__policy {
  flex: 1;
  .policy {
    color: var(--color);
    font-size: 12px;
    text-align: center;
  }
}

.footer__navigation {
  ul {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    gap: 22px;

    li {
      width: 100%;
      a {
        display: block;
        width: 100%;
        font-size: 16px;
        line-height: 1;
        text-align: right;
        white-space: nowrap;
        color: var(--color);
        @media (hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    background: url('../img/footer.webp') no-repeat right top/cover;
    .container {
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      max-width: 280px;
    }
  }

  .footer__contacts {
    align-items: center;
    order: 1;
  }

  .footer__policy {
    order: 3;
    .policy {
      max-width: 230px;
    }
  }

  .footer__navigation {
    order: 2;
    ul {
      gap: 20px;
      li {
        a {
          text-align: center;
        }
      }
    }
  }
}
