.header {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 160px;

  .logo {
    position: absolute;
    width: myclamp(131px, 131px, 1920px, 5000px);
    height: myclamp(64px, 64px, 1920px, 5000px);
    left: 50%;
    top: myclamp(45px, 45px, 1920px, 5000px);
    transform: translate(-50%, 0%);

    img {
      width: 100%;
      height: 100%;
    }
  }

  .fond {
    position: absolute;
    width: myclamp(90px, 90px, 1920px, 5000px);
    border-radius: 80px;
    height: myclamp(80px, 80px, 1920px, 5000px);
    left: 50%;
    top: myclamp(20px, 20px, 1920px, 5000px);
    transform: translate(myclamp(586px, 586px, 1920px, 5000px), 0px);
  }
}

@media (max-width: 1430px) and (min-width: 768px) {
  .header {
    .fond {
      width: 60px;
      height: 54px;
      border-radius: 0px;

      left: auto;
      right: 20px;
      top: 30px;
      background: url('../img/logo-fond.webp') no-repeat center center/cover;
      transform: translate(0px, 0px);
    }
  }
}

@media (max-width: 767px) {
  .header {
    .logo {
      position: absolute;
      width: 100px;
      height: 48px;
      right: auto;
      left: 20px;
      top: 20px;
      transform: translate(0%, 0%);
      margin-right: 0px;
    }

    .fond {
      width: 60px;
      height: 60px;
      left: 50%;
      top: 14px;
      transform: translate(98px, 0px);
    }
  }
}
