:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
}

body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  color: var(--white);
  font-family: var(--font);
  font-weight: 300;
  line-height: 1.4;
  overflow-x: hidden;
  overflow-y: auto;
}

html,
body {
  overscroll-behavior: none;
}

img {
  display: block;
  object-fit: cover;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-family: var(--heavy);
  color: inherit;
}

button {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
  &:disabled {
    cursor: auto;
    opacity: 0.3;
    pointer-events: none;
  }
}

ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
}

.gradient {
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
