.section--body {
  padding-top: myclamp(200px, 200px, 1440px, 2560px);
  padding-bottom: 360px;
  margin-bottom: -360px;
  background: url('../img/body-bg.webp') no-repeat center top;
  background-size: 100% auto;
}

.brends {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  margin: 30px auto;

  li {
    width: calc((100% - 40px) / 3);
    @media (max-width: 767px) {
      width: 100%;
    }
    a {
      display: flex;
      position: relative;
      width: 100%;
      max-width: 364px;
      margin: auto;
      height: 80px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      border-radius: 15px;
    }
  }
}
