.section--girl {
  height: myclamp(490px, 490px, 1920px, 5000px);
  margin-top: -760px;
  margin-bottom: -200px;
  z-index: 3;
  pointer-events: none;
  @media (min-width: 1921px) {
    margin-top: myclamp(-760px, -760px, 1920px, 2560px);
  }
  @media (max-width: 767px) {
    margin-top: -660px;
    margin-bottom: -200px;
  }
  @media (min-width: 2044px) {
    margin-bottom: -220px;
  }
}

.girl {
  width: auto;
  height: myclamp(488px, 488px, 1920px, 5000px);
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(myclamp(180px, 180px, 1920px, 5000px), 0%);

  @media (min-width: 1600px) {
    left: 51%;
  }
  @media (max-width: 1439px) {
    height: 440px;
    transform: translate(160px, 0%);
  }

  @media (max-width: 1279px) {
    height: 340px;
    left: auto;
    right: 0px;
    transform: translate(20px, 0%);
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    height: 250px;
    transform: translate(40px, 0%);
  }

  @media (max-width: 767px) {
    height: 380px;
    left: 50%;
    right: auto;
    transform: translate(-50%, 0%);
  }
}

.section--body {
  padding-top: 200px;
  padding-bottom: 360px;
  margin-bottom: -360px;
  background: url('../img/body-bg.webp') no-repeat center top;
  background-size: 1920px 2378px;
  pointer-events: none;
  .container {
    pointer-events: all;
  }

  .subtitle {
    margin-top: -10px;
  }

  &:before {
    content: '';
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 550px;
    left: 0px;
    top: 0px;
    background: url('../img/lights-top.webp') no-repeat center top;
    background-size: auto 550px;
  }

  @media (max-width: 1365px) {
    margin-bottom: -300px;
  }

  @media (max-width: 1279px) {
    margin-top: -220px;
  }
  @media (min-width: 1921px) {
    background-size: 100% 2378px;
  }
  @media (min-width: 2044px) {
    background-size: 100% 2378px;

    &:before {
      top: myclamp(0px, 30px, 1920px, 2560px);
      background: url('../img/lights-top.webp') no-repeat center center;
      background-size: auto 650px;
    }
  }
  @media (max-width: 767px) {
    background: url('../img/body-bg-mobil.webp') no-repeat center top;
    background-size: 100% 2442px;
    margin-bottom: -350px;
    &:before {
      top: 18px;
      background-size: 5600px 480px;
    }
  }
  @media (max-width: 414px) {
    margin-top: 20px;
  }
}

.brends {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  margin: 30px auto;

  li {
    width: calc((100% - 40px) / 3);
    @media (max-width: 767px) {
      width: 100%;
    }
    a {
      display: flex;
      position: relative;
      width: 100%;
      max-width: 364px;
      margin: auto;
      height: 80px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      border-radius: 15px;
    }
  }
}

.slider {
  display: block;
  position: relative;
  width: 802px;

  @media (max-width: 767px) {
    width: 528px;
    .swiper-arrow {
      display: none;
    }
  }

  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 388px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: linear-gradient(#ffffff, #6f50aa);
    margin: 20px 0px 60px 0px;
    box-shadow: 0px 35px 22px -24px rgba(46, 24, 78, 0.8);
    transition: opacity 0.5s;
    opacity: 0;
    &.swiper-slide-active,
    &.swiper-slide-active + .swiper-slide,
    &.swiper-slide-active + .swiper-slide + .swiper-slide {
      opacity: 1;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background: url('../img/noize.png') repeat;
      background-size: 20px 20px;
      opacity: 0.3;
    }

    .product-image {
      display: flex;
      position: relative;
      width: 100%;
      justify-content: center;
      align-items: center;
      align-content: center;
      &:before {
        content: '';
        display: block;
        width: 100%;
        padding-top: 95%;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
      }
    }

    .product-title {
      padding: 0px 10px;
      text-align: center;
      display: block;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.2;
      text-transform: uppercase;
      flex-shrink: 0;
    }

    span {
      width: 100%;
      padding: 0px 15px 20px 15px;
      display: block;
      text-align: center;
      margin-top: auto;
      font-weight: 500;
      font-size: 12px;
      color: #d0c5ec;
      flex-shrink: 0;
    }
  }
}
