.section--hero {
  position: relative;
  //transition: transform 2s cubic-bezier(0, 1, 0.3, 1);
  will-change: transform;
  width: 100%;
  height: myclamp(820px, 820px, 1920px, 2560px);
  pointer-events: none;
  .container {
    position: relative;
    z-index: 2;
    pointer-events: none;
  }

  .header {
    z-index: 3;
    a {
      pointer-events: all;
    }
  }

  .titles {
    margin-top: myclamp(180px, 180px, 1920px, 5000px);
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    right: 0px;
    top: 120px;
    width: myclamp(120px, 165px, 1920px, 2370px);
    height: myclamp(148px, 204px, 1920px, 2370px);
    background: url('../img/home.webp') no-repeat center center/cover;
    z-index: 3;
    @media (min-width: 1600px) {
      top: 120px;
      right: -19px;
    }
    @media (min-width: 1921px) {
      right: 0px;
      top: 190px;
    }
    @media (max-width: 767px) {
      top: 320px;
    }
  }
}

.scene {
  display: block;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0px;
  width: 100%;
  min-width: 1920px;
  height: myclamp(820px, 820px, 1920px, 2560px);
  transform: translate(-50%, 0%);
  pointer-events: none;
  background: url('../img/hero-bg.webp') no-repeat center top/cover;
  z-index: 2;

  a {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 66.666%;
    pointer-events: all;
    @media (max-width: 767px) {
      height: 100%;
    }
  }

  @media (max-width: 1430px) {
    background: url('../img/hero-bg-tablet.webp') no-repeat center top/cover;
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
  margin-top: myclamp(80px, 80px, 1920px, 2560px);
  text-align: center;
  gap: 10px;

  ul {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;

    li {
      flex: 1;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;

      b {
        font-size: 24px;
        color: var(--yellow);
      }
    }
  }
}

@media (max-width: 1279px) {
  .section--hero {
    height: 750px;
    margin-bottom: -450px;
  }

  .scene {
    height: 750px;
    background-size: 1600px 700px;
  }

  .description {
    max-width: 400px;
    margin-top: 40px;
    gap: 0px;

    ul {
      li {
        font-size: 16px;
        b {
          font-size: 22px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .section--hero {
    height: 750px;
    .title {
      margin-top: -110px;
    }
  }

  .scene {
    height: 500px;
    background: url('../img/hero-bg-mobil.webp') no-repeat center top/cover;
    background-size: 768px 500px;
  }

  .description {
    max-width: 310px;
    margin-top: 54px;
    gap: 0px;

    ul {
      li {
        &:last-child {
          margin-top: 30px;
          margin-bottom: 12px;
        }
      }
    }
  }
}
