.section--girl {
  height: 490px;
  margin-top: -740px;
  margin-bottom: -200px;
  z-index: 3;
  pointer-events: none;
  @media (max-width: 767px) {
    margin-top: -660px;
    margin-bottom: -200px;
  }
}

.girl {
  width: auto;
  height: 488px;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(180px, 0%);

  @media (max-width: 1439px) {
    height: 440px;
    transform: translate(160px, 0%);
  }

  @media (max-width: 1279px) {
    height: 340px;
    left: auto;
    right: 0px;
    transform: translate(20px, 0%);
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    height: 250px;
    transform: translate(40px, 0%);
  }

  @media (max-width: 767px) {
    height: 380px;
    left: 50%;
    right: auto;
    transform: translate(-50%, 0%);
  }
}

.section--body {
  padding-top: 200px;
  padding-bottom: 360px;
  margin-bottom: -360px;
  background: url('../img/body-bg.webp') no-repeat center top;
  background-size: 1920px 2378px;
  pointer-events: none;
  .container {
    pointer-events: all;
  }

  &:before {
    content: '';
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 550px;
    left: 0px;
    top: 0px;
    background: url('../img/lights-top.webp') no-repeat center top;
    background-size: 1920px 550px;
    // @media (max-width: 767px) {
    //   content: none;
    // }
  }

  @media (max-width: 1365px) {
    margin-bottom: -300px;
  }
  @media (min-width: 1921px) {
    background-size: 100% 2378px;
    &:before {
      background-size: 100% auto;
    }
  }
  @media (max-width: 767px) {
    background: url('../img/body-bg-mobil.webp') no-repeat center top;
    background-size: 100% 2442px;
  }
}

.brends {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  margin: 30px auto;

  li {
    width: calc((100% - 40px) / 3);
    @media (max-width: 767px) {
      width: 100%;
    }
    a {
      display: flex;
      position: relative;
      width: 100%;
      max-width: 364px;
      margin: auto;
      height: 80px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      border-radius: 15px;
    }
  }
}

.slider {
  display: block;
  position: relative;
  width: 100%;

  @media (max-width: 767px) {
    width: 540px;
    .swiper-arrow {
      display: none;
    }
  }

  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 392px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: linear-gradient(#ffffff, var(--bg));
    margin: 20px 0px 60px 0px;
    box-shadow: 0px 35px 22px -24px rgba(46, 24, 78, 0.8);
    transition: opacity 0.5s;
    opacity: 0;
    &.swiper-slide-active,
    &.swiper-slide-active + .swiper-slide,
    &.swiper-slide-active + .swiper-slide + .swiper-slide {
      opacity: 1;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background: url('../img/noize.png') repeat;
      opacity: 0.4;
    }

    span {
      width: 100%;
      padding: 20px 15px;
      display: block;
      text-align: center;
      margin-top: auto;
      font-weight: 500;
      font-size: 12px;
      color: #d0c5ec;
    }
  }
}

.product-image {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 95%;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
  }
}

.product-title {
  padding: 0px 10px;
  text-align: center;
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
}
