.title {
  text-align: center;
  .ta--l {
    text-align: left;
  }
  &.title--h1 {
    font-size: 44px;
    text-align: center;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.1;
  text-align: center;
  .ta--l {
    text-align: left;
  }
}
