:root {
  --font: 'congenial', sans-serif;
  --heavy: 'heavy', sans-serif;

  --gradient: linear-gradient(90deg, #ecddb2 0%, #cead7c);
  --white: #ffffff;
  --black: #000000;
  --bg: #513082;
}

@import 'mixins';
@import 'fonts';
@import 'animations';
@import 'reset';
@import 'main';
@import 'swiper';
@import 'header';
@import 'buttons';
@import 'typography';
@import 'footer';
