:root {
  --font: 'congenial', sans-serif;
  --heavy: 'heavy', sans-serif;

  --gradient: linear-gradient(90deg, #ecddb2 0%, #cead7c);
  --white: #ffffff;
  --black: #000000;
  --bg: #513082;
  --color: #3b2774;
  --violet: #7d69af;
  --yellow: #f9dea2;
}

@import 'mixins';
@import 'fonts';
@import 'animations';
@import 'reset';
@import 'main';
@import 'swiper';
@import 'header';
@import 'buttons';
@import 'typography';
@import 'section__hero';
@import 'section__body';
@import 'footer';
