@charset "UTF-8";
:root {
  --font: "congenial", sans-serif;
  --heavy: "heavy", sans-serif;
  --gradient: linear-gradient(90deg, #ecddb2 0%, #cead7c);
  --white: #ffffff;
  --black: #000000;
  --bg: #513082;
}

@font-face {
  font-family: "congenial";
  src: url("../fonts/congenial-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "congenial";
  src: url("../fonts/congenial-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "heavy";
  src: url("../fonts/heavy.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* Вращение по кругу */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateleft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes scrollDown {
  0%, 100% {
    transform: translateY(0) scaleX(0.8);
  }
  50% {
    transform: translateY(-10px) scaleX(1);
  }
}
@keyframes slide {
  0% {
    transform: translate(-200%, -25%) rotate(-40deg);
  }
  30%, 100% {
    transform: translate(200%, -25%) rotate(-40deg);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  35% {
    transform: scale(1.08);
  }
  40% {
    transform: scale(1.1);
  }
  45% {
    transform: scale(1.095);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
  85% {
    transform: scale(1.02);
  }
  90% {
    transform: scale(1);
  }
  95% {
    transform: scale(1.005);
  }
  100% {
    transform: scale(1);
  }
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
}

body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  color: var(--white);
  font-family: var(--font);
  font-weight: 300;
  line-height: 1.4;
  overflow-x: hidden;
  overflow-y: auto;
}

html,
body {
  overscroll-behavior: none;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-family: var(--heavy);
  color: inherit;
}

button {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
}
button:disabled {
  cursor: auto;
  opacity: 0.3;
  pointer-events: none;
}

ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
}

.gradient {
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.body {
  display: flex;
  flex-direction: column;
}

.main {
  display: block;
  position: relative;
  z-index: 1;
  flex: 1;
}

.container {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1310px) {
  .container {
    padding: 0px 20px;
  }
}

.section {
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.section.visible {
  overflow: visible;
}

.slider-arrows {
  display: inline-flex;
  gap: 12px;
  padding-bottom: 10px;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .slider-arrows {
    gap: 10px;
    padding-bottom: 8px;
  }
}
@media (max-width: 767px) {
  .slider-arrows {
    display: none;
  }
}

.swiper {
  width: 100%;
}

.swiper-arrow {
  display: flex;
  position: absolute;
  width: 42px;
  height: 42px;
  border: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 3;
  margin-top: -35px;
  top: 50%;
}
.swiper-arrow[data-arrow-prev] {
  background: url("../img/svg/arrow-prev.svg") no-repeat center center;
  background-size: auto 100%;
  right: calc(100% + 14px);
}
.swiper-arrow[data-arrow-next] {
  background: url("../img/svg/arrow-next.svg") no-repeat center center;
  background-size: auto 100%;
  left: calc(100% + 14px);
}
.swiper-arrow.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.swiper-pagination {
  display: flex;
  position: relative;
  width: 100% !important;
  height: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  bottom: 0px !important;
  gap: 20px;
}
.swiper-pagination .swiper-pagination-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  left: 50% !important;
  transform: scale(1) translate(-50%, 0%);
  margin: 0 !important;
  opacity: 0;
  width: 40px;
  height: 20px;
  border-radius: 0px;
  background: none;
  transition: 0.6s !important;
  pointer-events: none;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-next-next {
  position: absolute;
  transform: scale(1);
  left: 50% !important;
  opacity: 0;
  transform: translate(calc(200% + 20px), 0%);
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev {
  position: absolute;
  transform: scale(1);
  left: 50% !important;
  opacity: 0;
  transform: translate(calc(-300% - 20px), 0%);
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-main {
  position: absolute;
  transform: scale(1);
  left: 50% !important;
  opacity: 1;
  transform: translate(-50%, 0%);
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-next {
  position: absolute;
  transform: scale(1);
  left: 50% !important;
  opacity: 0.3;
  transform: translate(100%, 0%);
  pointer-events: all;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-prev {
  position: absolute;
  transform: scale(1);
  left: 50% !important;
  opacity: 0.3;
  transform: translate(-200%, 0%);
  pointer-events: all;
}
.swiper-pagination .swiper-pagination-bullet:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color);
  opacity: 1;
  transition: background-color 0.3s, opacity 0.3s;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
  background-color: var(--brown);
}

.burger {
  display: none;
}

.header {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  z-index: 20;
  background: var(--bg);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0);
  transition: box-shadow 0.6s, transform 1s;
  transform: translate(0%, -150%);
  border-bottom: 4px solid var(--yellow);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}
.header .container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  gap: 20px;
}

.loaded .header {
  transform: translate(0%, 0%);
}

.header__logo {
  display: block;
  position: relative;
  width: 170px;
  height: 56px;
}
.header__logo .logo {
  position: absolute;
  top: 0px;
  left: 0px;
}

.logo {
  display: block;
  position: relative;
  width: 100%;
  height: 88px;
  z-index: 3;
  background: url("../img/svg/logo-bg.svg") no-repeat center center/cover;
}
.logo img {
  position: relative;
  width: 122px;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  z-index: 2;
  opacity: 1;
}
.logo:before {
  content: "";
  display: block;
  width: 60%;
  height: 50%;
  left: 20%;
  top: 25%;
  box-shadow: 0px 0px 30px #fff;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  flex: 1;
}

.menu {
  display: inline-flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 32px;
}
.menu li .menu__link {
  font-family: var(--4);
  font-size: 18px;
  line-height: 1;
  transition: color 0.3s;
  cursor: pointer;
}
.menu li .menu__link.active {
  color: var(--yellow);
}
.menu li .menu__link:hover {
  color: var(--yellow);
}
.menu li:first-child {
  margin-left: auto;
}
@media (max-width: 1279px) {
  .menu {
    gap: 20px;
  }
  .menu li .menu__link {
    font-size: 16px;
  }
}

.header__buttons {
  display: inline-flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 24px;
  margin-left: auto;
}

@media (max-width: 1023px) {
  .header {
    border-bottom: 0px;
  }
  .burger {
    display: flex;
    position: absolute;
    right: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: var(--brown);
    font-size: 0px;
    z-index: 2;
  }
  .burger span, .burger:before, .burger:after {
    position: absolute;
    height: 2px;
    background: var(--white);
    transition: 0.6s;
    opacity: 1;
    z-index: 1;
  }
  .burger:before {
    content: "";
    width: 22px;
  }
  .burger:after {
    content: "";
    width: 10px;
  }
  .burger span {
    width: 16px;
    transform: translate(0px, 0px);
  }
  .burger:before {
    transform: translate(0px, -8px) rotate(0deg);
  }
  .burger:after {
    transform: translate(0px, 8px) rotate(0deg);
  }
  .burger.open span {
    transform: translate(10px, 0px);
    opacity: 0;
  }
  .burger.open:before {
    width: 22px;
    transform: translate(0px, 0px) rotate(45deg);
  }
  .burger.open:after {
    width: 22px;
    transform: translate(0px, 0px) rotate(-45deg);
  }
  .header {
    height: 53px;
    border-bottom: none;
  }
  .header:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: var(--bg);
    border-bottom: 3px solid var(--yellow);
    z-index: 2;
  }
  .header__logo {
    margin: 0 auto;
    height: 53px;
    width: 146px;
  }
  .header__logo .logo {
    height: 78px;
    background: url("../img/svg/logo-bg-mobil.svg") no-repeat center top/cover;
  }
  .header__logo .logo img {
    width: 102px;
  }
  .header__logo .logo:before {
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
  }
  .navigation {
    position: fixed;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    top: 0px;
    right: 0px;
    background: var(--bg);
    transform: translate(0%, -100%);
    transition: transform 0.6s;
    padding: 0px;
    z-index: 0;
  }
  .navigation::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }
  .navigation.open {
    transform: translate(0%, 0%);
  }
  .menu {
    padding: 100px 30px 40px 30px;
    width: 100%;
    max-width: 768px;
    min-height: 100svh;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 40px;
  }
}
@media (max-width: 1023px) and (max-width: 767px) {
  .menu {
    padding: 100px 20px 40px 20px;
  }
}
@media (max-width: 1023px) {
  .menu li:first-child {
    margin-left: 0;
    margin-top: auto;
  }
  .menu li .menu__link {
    font-size: 32px;
  }
  .menu li.header__buttons {
    width: 100%;
    margin-top: auto;
    flex-direction: column;
  }
}
.fixed-button {
  display: flex;
  position: fixed;
  min-width: 100vw;
  max-width: 100vw;
  left: 0px;
  bottom: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0px 20px;
  z-index: 5;
  pointer-events: none;
}
@media (max-width: 767px) {
  .fixed-button {
    bottom: 20px;
  }
}

.button {
  display: inline-flex;
  overflow: hidden;
  z-index: 1;
  min-height: 60px;
  font-family: var(--4);
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  font-size: 20px;
  line-height: 1;
  color: var(--black);
  padding: 10px 60px;
  z-index: 1;
  transition: color 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  outline: none;
  cursor: pointer;
  border-radius: 16px;
  background: var(--yellow);
  background: var(--gradient);
}
@media (max-width: 767px) {
  .button {
    font-size: 18px;
  }
}
.button.full {
  width: 100%;
}
.button.button--small {
  font-size: 18px;
  min-height: 36px;
  padding: 4px 24px;
  border-radius: 12px;
}
@media (max-width: 767px) {
  .button.button--small {
    font-size: 24px;
    min-height: 60px;
    padding: 4px 32px;
  }
}
.button.button--submit {
  font-size: 20px;
  min-height: 54px;
  padding: 4px 24px;
  border-radius: 16px;
}
.button:before, .button:after {
  content: "";
  position: absolute;
  top: 0px;
  pointer-events: none;
  width: 60%;
  height: 100%;
  background: var(--white);
  z-index: -1;
  transition: 0.5s;
}
.button:before {
  left: 0px;
  transform: translate(-100%, 0%);
  border-radius: 0px 10px 10px 0px;
}
.button:after {
  right: 0px;
  transform: translate(100%, 0%);
  border-radius: 10px 0px 0px 10px;
}
@media (min-width: 1024px) {
  .button:hover:before, .button:hover:after {
    transform: translate(0%, 0%);
  }
}

.login-btn {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 12px;
  font-size: 18px;
  color: var(--yellow);
  font-family: var(--4);
  line-height: 1;
}
.login-btn span {
  display: block;
  position: relative;
  top: 2px;
}
.login-btn:before {
  content: "";
  width: 24px;
  height: 25px;
  background: url("../img/svg/login.svg") no-repeat center center/cover;
}
@media (max-width: 767px) {
  .login-btn {
    font-size: 24px;
  }
}

.scroll-down {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 4;
  left: 50%;
  margin-left: -27px;
  bottom: 110%;
  transition: color 0.3s;
  color: var(--white);
  background: url("../img/arrow-down.gif") no-repeat center center;
  background-size: 100% auto;
}
@media (max-width: 1023px) {
  .scroll-down {
    bottom: 20%;
  }
}
@media (max-width: 767px) {
  .scroll-down {
    bottom: 10%;
  }
}

.logout-button {
  display: flex;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: 0.3s;
  color: var(--black);
}
.logout-button:hover {
  color: var(--bg);
}
@media (max-width: 767px) {
  .logout-button {
    right: 10px;
    bottom: 12px;
  }
}

.title {
  text-align: center;
}
.title .ta--l {
  text-align: left;
}
.title.title--h1 {
  font-size: 44px;
  text-align: center;
}

.subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.1;
  text-align: center;
}
.subtitle .ta--l {
  text-align: left;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  z-index: 1;
  padding: 70px 20px;
  overflow: hidden;
  background: var(--bg);
  min-height: 226px;
  gap: 40px;
}
.footer p {
  font-size: 12px;
  color: var(--yellow);
}
@media (max-width: 767px) {
  .footer p {
    font-size: 10px;
  }
}

.footer__menu {
  display: inline-flex;
  width: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .footer__menu {
    gap: 24px;
  }
}
.footer__menu li {
  font-size: 20px;
  line-height: 1.2;
}
.footer__menu li a {
  font-family: var(--400);
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s;
  color: var(--white);
}
.footer__menu li a:hover {
  color: var(--yellow);
}
@media (max-width: 1023px) {
  .footer__menu li {
    font-size: 18px;
    text-align: center;
  }
}