@charset "UTF-8";
:root {
  --font: "congenial", sans-serif;
  --heavy: "heavy", sans-serif;
  --gradient: linear-gradient(90deg, #ecddb2 0%, #cead7c);
  --white: #ffffff;
  --black: #000000;
  --bg: #513082;
  --color: #3b2774;
  --violet: #7d69af;
}

@font-face {
  font-family: "congenial";
  src: url("../fonts/congenial-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "congenial";
  src: url("../fonts/congenial-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "heavy";
  src: url("../fonts/heavy.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* Вращение по кругу */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateleft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes scrollDown {
  0%, 100% {
    transform: translateY(0) scaleX(0.8);
  }
  50% {
    transform: translateY(-10px) scaleX(1);
  }
}
@keyframes slide {
  0% {
    transform: translate(-200%, -25%) rotate(-40deg);
  }
  30%, 100% {
    transform: translate(200%, -25%) rotate(-40deg);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  35% {
    transform: scale(1.08);
  }
  40% {
    transform: scale(1.1);
  }
  45% {
    transform: scale(1.095);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
  85% {
    transform: scale(1.02);
  }
  90% {
    transform: scale(1);
  }
  95% {
    transform: scale(1.005);
  }
  100% {
    transform: scale(1);
  }
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
}

body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  color: var(--white);
  font-family: var(--font);
  font-weight: 300;
  line-height: 1.4;
  overflow-x: hidden;
  overflow-y: auto;
}

html,
body {
  overscroll-behavior: none;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-family: var(--heavy);
  color: inherit;
}

button {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
}
button:disabled {
  cursor: auto;
  opacity: 0.3;
  pointer-events: none;
}

ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
}

.gradient {
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.body {
  display: flex;
  flex-direction: column;
}

.main {
  display: block;
  position: relative;
  z-index: 1;
  flex: 1;
}

.container {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.container.container--800 {
  max-width: 800px;
}
@media (max-width: 1310px) {
  .container {
    padding: 0px 20px;
  }
}

.section {
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.section.visible {
  overflow: visible;
}

.slider-arrows {
  display: inline-flex;
  gap: 12px;
  padding-bottom: 10px;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .slider-arrows {
    gap: 10px;
    padding-bottom: 8px;
  }
}
@media (max-width: 767px) {
  .slider-arrows {
    display: none;
  }
}

.swiper {
  width: 100%;
}

.swiper-arrow {
  display: flex;
  position: absolute;
  width: 42px;
  height: 42px;
  border: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 3;
  margin-top: -35px;
  top: 50%;
}
.swiper-arrow[data-arrow-prev] {
  background: url("../img/svg/arrow-prev.svg") no-repeat center center;
  background-size: auto 100%;
  right: calc(100% + 14px);
}
.swiper-arrow[data-arrow-next] {
  background: url("../img/svg/arrow-next.svg") no-repeat center center;
  background-size: auto 100%;
  left: calc(100% + 14px);
}
.swiper-arrow.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.swiper-pagination {
  display: flex;
  position: relative;
  width: 100% !important;
  height: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  bottom: 0px !important;
  gap: 20px;
}
.swiper-pagination .swiper-pagination-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  left: 50% !important;
  transform: scale(1) translate(-50%, 0%);
  margin: 0 !important;
  opacity: 0;
  width: 40px;
  height: 20px;
  border-radius: 0px;
  background: none;
  transition: 0.6s !important;
  pointer-events: none;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-next-next {
  position: absolute;
  transform: scale(1);
  left: 50% !important;
  opacity: 0;
  transform: translate(calc(200% + 20px), 0%);
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev {
  position: absolute;
  transform: scale(1);
  left: 50% !important;
  opacity: 0;
  transform: translate(calc(-300% - 20px), 0%);
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-main {
  position: absolute;
  transform: scale(1);
  left: 50% !important;
  opacity: 1;
  transform: translate(-50%, 0%);
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-next {
  position: absolute;
  transform: scale(1);
  left: 50% !important;
  opacity: 0.3;
  transform: translate(100%, 0%);
  pointer-events: all;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-prev {
  position: absolute;
  transform: scale(1);
  left: 50% !important;
  opacity: 0.3;
  transform: translate(-200%, 0%);
  pointer-events: all;
}
.swiper-pagination .swiper-pagination-bullet:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color);
  opacity: 1;
  transition: background-color 0.3s, opacity 0.3s;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
  background-color: var(--brown);
}

.header {
  display: block;
}

.button {
  display: flex;
  overflow: hidden;
  z-index: 1;
  min-height: 42px;
  font-family: var(--font);
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  font-size: 16px;
  line-height: 1;
  color: var(--white);
  padding: 10px 30px;
  z-index: 1;
  transition: background 0.3s, transform 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  outline: none;
  cursor: pointer;
  border-radius: 40px;
  background: linear-gradient(180deg, #ff2933, #7b1015);
  transform: translate(0px, 0px);
}
.button span {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.button:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url("../img/noize.png") repeat;
  opacity: 0.8;
}
.button.button--violet {
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  min-height: 40px;
  background: var(--violet);
}
.button.button--violet:before {
  content: none;
}
@media (hover: hover) {
  .button.button--violet:hover, .button.button--violet:focus {
    background: var(--color);
  }
}
.button.full {
  width: 100%;
}
.button:active {
  transform: translate(0px, 2px);
}

.titles .title:before, .titles .title:after {
  content: "";
  display: block;
  position: absolute;
  height: 125px;
  width: 100vw;
  background: url("../img/lights.webp") no-repeat left center;
  background-size: auto 100%;
  top: 50%;
}
.titles .title:before {
  right: 100%;
  transform: translate(0px, -50%) scaleX(-1);
}
.titles .title:after {
  left: 100%;
  transform: translate(0px, -50%);
}
.titles.no-lights .title:before, .titles.no-lights .title:after {
  content: none;
}
.titles .subtitle {
  margin-top: 10px;
}

.title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font);
  margin: 0 auto;
}
.title .ta--l {
  text-align: left;
}

.subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  font-family: var(--font);
  font-weight: 500;
}
.subtitle .ta--l {
  text-align: left;
}

svg text.title.title--h2 {
  font-size: 44px;
  font-family: var(--font);
  text-transform: uppercase;
}

.section--body {
  padding-top: clamp(200px, 13.8889vw, 356px);
  padding-bottom: 360px;
  margin-bottom: -360px;
  background: url("../img/body-bg.webp") no-repeat center top;
  background-size: 100% auto;
}

.brends {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  margin: 30px auto;
}
.brends li {
  width: calc((100% - 40px) / 3);
}
@media (max-width: 767px) {
  .brends li {
    width: 100%;
  }
}
.brends li a {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 364px;
  margin: auto;
  height: 80px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 15px;
}

.footer {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  position: relative;
  z-index: 2;
  padding: clamp(90px, 9.7222vw, 140px) 0px 40px 0px;
  overflow: hidden;
  background: url("../img/footer.webp") no-repeat center top;
  background-size: 100% 140%;
  flex-shrink: 0;
  color: var(--color);
}
.footer .container {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  gap: 30px;
}

.footer__contacts {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  min-width: 234px;
}
.footer__contacts .button {
  min-width: 188px;
}
.footer__contacts .mondelez {
  width: 164px;
  margin-bottom: 10px;
}
.footer__contacts .tel {
  color: var(--color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
}
.footer__contacts p {
  font-size: 12px;
}

.footer__policy {
  flex: 1;
}
.footer__policy .policy {
  color: var(--color);
  font-size: 12px;
  text-align: center;
}

.footer__navigation ul {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  gap: 22px;
}
.footer__navigation ul li {
  width: 100%;
}
.footer__navigation ul li a {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  text-align: right;
  white-space: nowrap;
  color: var(--color);
}
@media (hover: hover) {
  .footer__navigation ul li a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 767px) {
  .footer {
    background: url("../img/footer.webp") no-repeat right top/cover;
  }
  .footer .container {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    max-width: 280px;
  }
  .footer__contacts {
    align-items: center;
    order: 1;
  }
  .footer__policy {
    order: 3;
  }
  .footer__policy .policy {
    max-width: 230px;
  }
  .footer__navigation {
    order: 2;
  }
  .footer__navigation ul {
    gap: 20px;
  }
  .footer__navigation ul li a {
    text-align: center;
  }
}